@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES GLOBALES */

body {
  background-color: var(--background);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --title-font: "Montserrat", sans-serif;
  --title-size: 72px;
  --text-font: "Hind", sans-serif;
  --text-size: 16px;
  --text-color: #3e3d3d;
  --color1: #ffc09f;
  --color2: #79addc;
  --color3: #ffee93;
  --background: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */
