@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --title-font: "Montserrat", sans-serif;
  --title-size: 72px;
  --text-font: "Hind", sans-serif;
  --text-size: 16px;
  --text-color: #3e3d3d;
  --color1: #ffc09f;
  --color2: #79addc;
  --color3: #ffee93;
  --background: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-size);
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}
/* LOGIN PAGE */

.left {
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 100vh;
  background-color: var(--color1);
}

.quote-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.quote {
  color: var(--background);
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 71px;
  align-items: center;
}
.logo {
  display: flex;
  margin: auto;
  width: 250px;
  height: 150px;
}
.right {
  width: 60%;
  background-image: url("./assets/map2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
}

/* LOGIN PAGE */
.navbar {
  right: 0%;
}

.bglogin {
  background-color: var(--color1);
}

.bglongin2 {
  background-image: url("https://i.ibb.co/1rN83dz/Map2.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bglongin3 {
  background-color: var(--color3);
}

.bgheader {
  background-color: var(--color2);
}

/* Feedbacks */

.feedback_container{
  height: 100vh;
  background-color:var(--color3);
}
.feedback_container h2 {
  color: var(--color2);
  font-size: 3rem;
  background-color: var(--background);
  padding: 1rem;
}

.feedback_flex_btwn {
  display: flex;
  justify-content: space-between;
}

.feedback_container_question {
  background-color: var(--color1);
  padding: 1rem;
}

.feedback_container_question p {
  padding-right: 2rem;
}

.feedback_datas_container {
  background-color: var(--color3);
  padding: 0 10rem;
}

.feedback_data_container {
  background-color: var(--background);
  padding: 0.5rem;
  margin: 2rem 5rem;
}

.feedback_input_container {
  margin: 0 15rem;
  position: relative;
}

.feedback_input_container input { 
  width: 100%;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
}

.feedback_input_container img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.25rem 1rem;
}

.feedback_fit_content {
  display: flex;
  margin: 1rem;
}

.feedback_flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


